<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Cyberbullying Project</title>
    <link href="/static/css/about.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>About Cyberbullying Project</h1>
    <p>Welcome to our project dedicated to combating cyberbullying! We aim to create a safe and healthy online environment by tackling the issue of cyberbullying and raising awareness about its importance.</p>
    <p>Our project aims to:</p>
    <ul>
      <li>Educate individuals and communities about the different forms of cyberbullying and its harmful effects on individuals and society.</li>
      <li>Provide resources and tools to help individuals deal with cyberbullying and minimize its impact.</li>
      <li>Encourage innovation and research in developing technological solutions to address cyberbullying.</li>
      <li>Promote collaboration with relevant organizations, institutions, and communities to combat cyberbullying and raise awareness about it.</li>
    </ul>
    <p>We believe that every individual deserves to live in a safe and healthy online environment, and we are committed to creating positive and sustainable change in the field of combating cyberbullying. We invite you to join us in our journey to combat cyberbullying and build a better future for all.</p>
  </div>

</body>  
</html>
