
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PEGASUS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/static/css/index.css"rel="stylesheet">
</head>
<body >
    {%block content %}
    <section class="    main-page">
        <div class="left">
            <div class="left-content">
                <div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <h3 class="left-content-heading">find your interests</h3>
                </div>
                <div>
                <i class="fa-solid fa-user-group"></i>
                <h3 class="left-content-heading">explore what people are talking about</h3>
                </div>
                <div>
                <i class="fa-solid fa-comment"></i>
                <h3 class="left-content-heading">join the people</h3>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="middle-content">
            
            <a style="border:none; margin-top: -80px; "><img src="/static/photo/logo1.png " width="160px " height="180px " alt="Logo" ></a>
            <a style="border:none; margin-top:-90px ; "><img src="/static/photo/logo9.png " width="280px " height="120px " alt="Logo" ></a>
            <h1 style="margin-top: -30px" >see what's happening in the world right now.</h1>
            <h4 >Join Pegasus now</h4>
            <a href="/signup"class="sign-up">Sign Up</a>
            <a href="/login"class="log-in">Login</a>
        </div>
    </div>
        <footer class="main-page-footer" role="contentinfo">
            <ul>
                <li>
                    <a href="/support">Support</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>                <li>
    </footer>
    </section>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
    
    {% endblock  %}
    
    </body>
</html>


